<%= image_tag "hearthstone.png", class: "logo" %>
<h1>What Deck are you playing against?</h1>
<!-- list cards in deck -->
 <%= form_tag(articles_path, :method => "get", class: "deck-search", id: "deck-search") do %>
    <div class="input-container">
      <%= text_field_tag :search, params[:search], class: "add", placeholder: " Add a few cards.." %>
      <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
           of using a Rails form helper -->
      <button class="btn" type="submit"><i class="icon-search"></i></button>
    </div>
  <% end %>
  <%= yield %>
<% @list.each do |card| %>
	<p>  <%= card %> </p>
<% end %>