<%= image_tag "hearthstone.png", class: "logo" %>
<!-- Possible Cards Seen Listing
<div class="seen-list">
  <h3>CARDS SEEN</h3>
  <ul>
    <li><%= @cards %></li>
  </ul>
</div>
-->

<div class ="col-md-5">
  <%= image_tag "aspirations.png", class: "legend-img" %>
</div>
 <%= form_tag('/search', :method => "get", class: "deck-search", id: "deck-search") do %>
    <div class="input-container">
      <label for="search">Card Name(s)</label><br/>
      <%= text_field_tag :search, params[:search], id: "search", class: "add", placeholder: " Add a few cards..", data: {autocomplete_source: cards_path}, autofocus: true%>
      <div class="saved-value"></div>
      <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
           of using a Rails form helper -->
      <button id="the-one" class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
    <% end %>

